.advice-card {
    text-align: center;
    background: #3d4252; /* Changed to old gray */

    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.advice-number {
    font-size: 14px;
    color: white; /* Changed to white */
    margin-bottom: 10px;
}

.advice-text {
    font-size: 18px;
    font-weight: bold;
    color: white; /* Added color property to white */
}
